.container-pinner
{
    position: relative;
    display: inline-block;

    .pinner
    {
        width: 1px;
        height: 1px;
        position: absolute;
        background-color: #009926;

        &:before
        {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ff0000;
            transform: translate( -50%, -100% );
        }
    }
}
